.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 3rem 1.25rem;
    gap: 2.5rem;
    box-sizing: border-box;
}

.testimonials h4 {
    color: var(--light-blue);
    font-size: 0.8rem;
}

.testimonials h2 {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 5px 5px 0px var(--box-shadow);
}

.testimonials__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    gap: 1rem;
    margin: 0 1rem 1rem 0;
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    background: var(--background-services);
    box-shadow: 5px 5px 20px 0px var(--box-shadow);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
}

.testimonials__content h3 {
    font-size: 1rem;
    font-weight: 600;
}

.testimonials__content p {
    font-size: 0.8rem;
    color: var(--black);
    line-height: 1rem;
}

.testimonials__dots {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.testimonials__dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.testimonials__dots .dot.active {
    background-color: var(--light-blue);
}

.testimonials a {
    flex-shrink: 0;
    padding: 1rem;
    border-radius: 0.7rem;
    background-color: var(--light-blue);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.testimonials a:hover{
    background-color: var(--dark-blue); 
    transform: translateY(-5px); 
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); 
}

@media screen and (min-width: 1400px) {
    .testimonials__container {
        gap: 3rem;
    }

    .testimonials__content {
        max-width: 1000px;
        margin-top: 2rem;
    }

    .testimonials h4 {
        font-size: 1.5rem;
    }

    .testimonials h2 {
        font-size: 4rem;
    }

    .testimonials__content h3 {
        font-size: 2rem;
    }

    .testimonials__content p {
        font-size: 1rem;
    }

    .testimonials a {
        font-size: 1.5rem;
        padding: 2rem;
    }
}

@media screen and (min-width: 768px){
    .testimonials a {
        font-size: 1rem;
    }
}

.testimonials__content {
    opacity: 0;
    transform: translateX(100%); 
    transition: opacity 2.5s ease, transform 2s ease;
}

.testimonials__content--visible {
    opacity: 1;
    transform: translateX(0);
}

